@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
:root {
    /*Original Palette: GreyBlue+PinkRed
    --colorMain: #293b4c;
    --colorDark: #263443;
    --colorDarker: #23323f;
    --colorVariant: #c46198;
    --colorVariantDark: #a23a83;
    --textTitle: #e6e6e5;
    --textMain: #869499;*/
    /*Test Palette: */
    --colorMain: #292a4c;
    --colorDark: #262843;
    --colorDarker: #23283f;
    --colorVariant: #c46198;
    --colorVariantDark: #a23a83;
    --colorVariantVivid: #bc1d33;
    --textTitle: #e6e6e5;
    --textMain: #a2b2b8;
    /*Test Palette 2: */
    /*
    --colorMain: ;
    --colorDark: ;
    --colorDarker: ;
    --colorVariant: ;
    --colorVariantDark: ;
    --textTitle: ;
    --textMain: ;
    */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    height: 100vh;
    display: block;
    background-color: var(--colorMain);
    color: var(--textMain);
}

h1 {
    font-size: 48px;
    color: var(--textTitle);
    margin-bottom: 20px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    color: var(--colorVariant);
    margin-bottom: 20px;
    font-weight: 600;
}

h4 {
    font-size: 26px;
    line-height: 27px;
    font-weight: 600;
}

h4 span {
    font-size: 42px;
}

a {
    text-decoration: none;
    color: var(--textTitle);
}

.hdivider {
    background-color: var(--colorVariantDark);
    height: 4px;
    width: 120px;
    margin-bottom: 20px;
    border-radius: 50px;
}


/*////////////////////////////////////////////////
NAVIGATION BAR
////////////////////////////////////////////////*/

header {
    min-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 5%;
    background-color: var(--colorDarker);
    box-shadow: 0px 0px 5px 0px var(--colorDarker);
}

nav li,
nav a,
nav button {
    font-weight: 400;
    font-size: 16px;
    color: var(--textTitle);
    text-decoration: none;
}

.logo {
    cursor: pointer;
    width: 40px;
    margin-right: 20px;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0 20px;
}

.navlinks li a {
    transition: all 0.2s ease 0s;
    font-weight: 600;
}

.navlinks li a:hover {
    color: var(--colorVariantDark);
    border-bottom: var(--colorVariantDark) 3px solid;
    padding-bottom: 8px;
    border-radius: 2px;
}

.apply {
    margin-left: auto;
}

button {
    padding: 10px 15px;
    background-color: var(--colorVariantDark);
    color: var(--textTitle);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: var(--colorVariant);
    transform: translateY(-1.5px);
}


/*/////////////////////////////////////////////////
WEBSITE Main
////////////////////////////////////////////////*/

#about,
#sponsors,
#faq {
    background-color: var(--colorDark);
}

main {
    margin: 5% 0%;
}

.pages {
    display: block;
    align-items: center;
    margin: 5px 0 50px;
    padding: 5% 5%;
}

.landing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100vw;
}

.hero-img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 20px;
}

.registration {
    margin: 20px 0px;
}


/*

.textOverlay {
    filter: var(--colorVariantDark);
    fill-opacity: 1;
}

#AboutBg {
    max-width: 100%;
}
*/

.schedule,
.tracks,
.challenges {
    margin: 100px 0;
    background-color: var(--colorDark);
    padding: 0 25px;
}


/*////////////////////////////////////////////////
SCHEDULE TABS TEST

TRACKS

CHALLENGES

Team

FAQ
////////////////////////////////////////////////*/


/*//////////////////////////////////////////
BOTTOM END
//////////////////////////////////////////*/

footer {
    text-align: center;
    justify-content: center;
    font-size: 12px;
}

footer p {
    background-color: var(--colorDarker);
    padding: 10px;
}